$color_red: #f44336;
$color_grey: #d0d0d0;
$color_dark_grey: #7f7f7f;
$color_blue: #3fcaff;
$color_dark_blue: #3d2eb3;
$color_a_grey: #777777;
$color_a_light_grey: #a09f9f;

$green: #00ff00;
$yellow: #efb808;
