<div class="page-layout simple fullwidth angular-material-elements">
  <div class="content p-24">
    <h1>Все посты</h1>
    <mat-form-field>
      <div class="find-field">
        <input matInput #filterInput placeholder="Поиск">
        <button mat-button [color]="'primary'" (click)="applyFilter(filterInput)" class="w-100">
          Найти
        </button>
        <button *ngIf="searchText" mat-button
                (click)="applyFilter(filterInput, true)"
                class="ml-5 w-100">
          Отмена
        </button>
      </div>
    </mat-form-field>
    <ng-container *ngIf="isLoaded && totalCount">
      <div class="mat-elevation-z8">
        <table mat-table matSort
               [trackBy]="trackByFn"
               [dataSource]="dataSource"
               (click)="rowClick($event)">
          <!-- Item Column -->
          <ng-container matColumnDef="id">
            <th class="coll-id" mat-header-cell *matHeaderCellDef> ID</th>
            <td class="coll-id" mat-cell *matCellDef="let row"> {{row.id}} </td>
          </ng-container>

          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Заголовок</th>
            <td mat-cell *matCellDef="let row"> {{row.title}} </td>
          </ng-container>

          <ng-container matColumnDef="files">
            <th mat-header-cell *matHeaderCellDef> Картинки</th>
            <td mat-cell *matCellDef="let row">
              <div class="list-images">
                <div class="list-images" *ngFor="let item of row.files; trackBy: trackByFn">
                  <img *ngIf="item.versions && item.versions[1]" [src]="item.versions[1]"/>
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Cost Column -->
          <ng-container matColumnDef="public">
            <th mat-header-cell class="text-center" *matHeaderCellDef> Публикация</th>
            <td mat-cell class="text-center" *matCellDef="let row"
                [style.color]="row.isPublic ? 'green' : 'red'">
              <mat-icon
                class="fs-18">{{row.isPublic ? 'check_box' : 'check_box_outline_blank'}}</mat-icon>
            </td>
          </ng-container>

          <!-- Cost Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Действия</th>
            <td mat-cell *matCellDef="let row">
              <wt-table-menu
                (edit)="editEvent(row)"
                (delete)="openDeleteDialog(row)"
              ></wt-table-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator
          *ngIf="totalCount"
          [length]="totalCount"
          [pageSizeOptions]="[10, 25, 100]"
          (page)="changePage($event)"></mat-paginator>
      </div>
    </ng-container>
    <div *ngIf="isLoaded && !totalCount">Список пуст</div>
  </div>
  <ng-container *ngIf="loaded$|async; let loaded;">
    <wt-spinner *ngIf="!loaded"></wt-spinner>
  </ng-container>
</div>
