<wt-header
  [title]="pageData.title"
  [subTitle]="pageData.subTitle"
  [description]="pageData.description"
  [image]="pageData.image"
></wt-header>

<section class="blog_area">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="blog_left_sidebar">
          <wt-image-list [categoryId]="categoryId" [tagId]="tagId"></wt-image-list>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="blog_right_sidebar">
          <div wtStickySidebar>
            <div wtStickySidebarInner>
              <wt-popular-posts></wt-popular-posts>
              <wt-post-categories></wt-post-categories>
              <wt-tag-cloud></wt-tag-cloud>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
