<div *ngIf="!fieldData.notEditable && !fieldData.hide"
     fxLayout="column"
     class="position-relative form-field"
     [formGroup]="form"
     [ngClass]="{
     'border-block textarea-field mb-21': fieldData.type === fieldTypes.FieldTypeTextarea || fieldData.type === fieldTypes.FieldTypeTextareaEditor,
      'form-field-error': ( !fieldControl.pristine || fieldControl.touched) && fieldControl.status === invalidStatus}">
  <ng-container [ngSwitch]="fieldData.type">

    <ng-container *ngSwitchCase="fieldTypes.FieldTypeSelect">
      <shared-form-field-select
        [fieldData]="fieldData"
        [form]="form"
      ></shared-form-field-select>
    </ng-container>

    <ng-container *ngSwitchCase="fieldTypes.FieldTypeSlideToggle">
      <shared-form-field-slide-toggle
        [fieldData]="fieldData"
        [form]="form"
      ></shared-form-field-slide-toggle>
    </ng-container>

    <ng-container *ngSwitchCase="fieldTypes.FieldTypeTextarea">
      <div class="textarea-field-width">
        <label
          [id]="'field-' + fieldData.field">{{fieldData.title}}{{fieldData.require ? ' *' : ''}}</label>
        <textarea matInput rows="6" [formControlName]="fieldData.field"></textarea>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="fieldTypes.FieldTypeTextareaEditor">
      <div class="textarea-field-width">
        <label
          [id]="'field-' + fieldData.field">{{fieldData.title}}{{fieldData.require ? ' *' : ''}}</label>
        <ckeditor [formControlName]="fieldData.field"></ckeditor>
<!--        <angular-editor [config]="editorConfig"
                        [formControlName]="fieldData.field"></angular-editor>-->
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="fieldTypes.FieldTypeFile">
      <shared-form-field-file
        [fieldData]="fieldData"
        [form]="form"
      ></shared-form-field-file>
    </ng-container>

    <ng-container *ngSwitchCase="fieldTypes.FieldTypeFiles">
      <shared-form-field-files
        [fieldData]="fieldData"
        [form]="form"
      ></shared-form-field-files>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <shared-form-field-input
        [fieldData]="fieldData"
        [form]="form"
      ></shared-form-field-input>
    </ng-container>
  </ng-container>

  <shared-form-field-spinner *ngIf="fieldData.loading"></shared-form-field-spinner>
  <shared-form-field-error
    *ngIf="fieldControl.touched && !fieldControl.valid"
    [form]="form"
    [fieldData]="fieldData"
    [errorMessages]="errorMessages"
    [ngClass]="{'textarea-error': fieldData.type === fieldTypes.FieldTypeTextarea}"
  ></shared-form-field-error>
</div>
