<ng-container *ngIf="image$|async;let image;">
  <meta property="og:type" content="article"/>
  <meta property="og:title" [content]="image.title" />
  <meta property="og:url" [content]="'http://web-applications.uz/'+image.category?.slug+'/'+image.slug+'.html'"/>
  <meta property="article:section" [content]="image.category?.name">
  <meta property="article:published_time" [content]="image.createdAt">
  <wt-header
    [small]="true"
  ></wt-header>
  <section class="blog_area single-post-area section_gap">
    <wt-spinner *ngIf="!image" [diameter]="30"></wt-spinner>
    <div *ngIf="image" class="container">
      <wt-bread-crumps [list]="breadCrumpsList"></wt-bread-crumps>
      <div class="row">
        <div class="col-lg-9 posts-list">
          <div class="single-post row">
            <div class="col-lg-12">
              <div class="feature-img">
                <wt-image
                  *ngIf="image.files && mainFile"
                  class="img-fluid"
                  [haveZoom]="true"
                  [versions]="mainFile"
                  [version]="3"
                  [index]="0"
                  [title]="image.category?.name + '. ' + image.title"
                  (clickEvent)="openLightBox($event)"
                ></wt-image>
              </div>
<!--              <wt-list-other-images *ngIf="image.files && image.files.length > 1 "
                                    [list]="image.files"
                                    (clickEvent)="openLightBox($event)"></wt-list-other-images>-->
            </div>
            <div class="col-lg-12 blog_details">
              <h1>{{image.title}}</h1>
              <div class="blog_info text-right">
                <ul class="blog_meta list">
                  <li><span>{{image.createdAt|dateFormatPipe}}<i class="lnr lnr-calendar-full"></i></span>
                  </li>
                  <li><span>{{image.category?.name}}<i class="lnr lnr-tag"></i></span></li>
                  <li *ngIf="image.views"><span
                    [title]="image.views + ' просмотров'">{{image.views|countFormatPipe}} <i
                    class="lnr lnr-eye"></i></span></li>
                </ul>
<!--                <div *ngIf="image.tags" class="post_tag">
                  <a *ngFor="let tag of image.tags" href="#">{{tag.name}}</a>
                </div>-->
              </div>
              <div class="image-description" [innerHTML]="image.descriptionFull">
              </div>
            </div>
          </div>
          <wt-next-images [image]="image"></wt-next-images>
          <wt-other-images></wt-other-images>
        </div>
        <div class="col-lg-3">
          <div class="blog_right_sidebar">
            <wt-popular-posts></wt-popular-posts>
            <wt-post-categories></wt-post-categories>
            <wt-tag-cloud></wt-tag-cloud>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>

