.my-drop-zone {
  border: dotted 3px lightgray;
  padding: 10px;
  margin-bottom: 10px;
}

.nv-file-over {
  border: dotted 3px red;
}

/* Default class applied to drop zones on over */
.another-file-over-class {
  border: dotted 3px green;
}

html, body {
  height: 100%;
}


.cursor-no-pointer {
  cursor: auto;
}

.edit-title {
  display: flex;
  width: 100%;

  textarea {
    flex-grow: 1;
  }

  button {
    width: 40px;
  }
}

.mb-14 {
  margin-bottom: 14px;
}

.fileUploads {
  margin-bottom: 10px;
  margin-left: -5px;

  .mat-card {
    margin: 5px;
  }
}

.progress-block {
  margin-bottom: 10px;
}

.table {
  width: 100%;

  tr {
    line-height: 40px;
    border-top: 1px solid #efefef;
  }

  thead {
    background: #efefef;

    th {
      padding: 0 10px;
    }
  }
}

.ml-5 {
  margin-left: 5px;
}

.top-button {
  position: relative;
  z-index: 10;
  background: #f5f5f5;
}

.sub-button {
  opacity: 0;
  margin-top: -50px;
}
